@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@900&family=REM&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

body {
  margin: 0px;
  margin-top: -25px;

  font-family: "Lisu Bosa", serif;

  text-decoration: none;
  font-family: "Young Serif", serif;
  height: 550vh;
  overflow-x: hidden;
}
@media screen and (max-width:400px){
  body{
    min-height: 250vh;
    overflow-x: hidden;
}
  }


header {

  background-image: url(interior.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 0.95;
  background-position: center;
  background-attachment: fixed;
  
 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #19001c;
    overflow: hidden;
    height: 100px;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #a13333;
}

.dropdown-content {
    display: overflow;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    text-align: left;
    overflow: visible;
}

.dropdown-content li a {
    padding: 12px 16px;
}

.dropdown-content li a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
}

@media (max-width: 300px) {
    .nav-list {
        
        flex-direction: column;
    }

    .menu-icon {
        display: block;
        margin-top: 20px;
    }

    .nav-list.show {
        display: flex;
    }
    .nav-list li {
        width: 100%;
    }

    .nav-list li a {
        padding: 14px;
        text-align: left;
    }
}
h1 {
  font-family: Georgia;
  margin-top: -30px;
  text-align: center;
  color : rgb(222, 126, 0);
  padding-top: 90px;
  text-decoration: solid;
  font-weight: 1000;
  font-size: 8rem;
  margin-bottom: 0px;
  box-shadow: #19001c;
}
.moto{
    font-size: 1.8rem;
}
@media screen and (max-width:400px){
    h1 {
        font-size: 3rem;
    }

}
@media screen and (max-width:700px){
  h1 {
      font-size: 4rem;
  }

}
@media screen and (max-width:400px){
    .moto {
        font-size: 1.2rem;
    }

}

.list li a:hover {
  cursor: pointer;
  display: inline-block;
  color: rgb(150, 150, 150);
  transition: color 0.3s;
  border-bottom: solid 1px whitesmoke;
  /* text-decoration:none; */
  
}
a :hover {
  text-decoration: none;
}

.list li img {
  block-size: 20px;
  align-items: center;
  backface-visibility: hidden;
  background-blend-mode: lighten;
}
.list li a {
  text-decoration: none;
  margin: bottom -30px;
}
.social-icons li a img {
  padding: 10px;
  list-style: none;
  display: flex;
  margin-top:-30px;
}
@media screen and (max-width: 400px) {
  .social-icons li a img {
    margin-top: 50px;
    margin-top:-30px;

  }
}

.social-icons li a :hover {
  box-shadow: 0px 0px 10px;
  margin-top: -10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: purple;
  border-radius: 22rem;
  box-shadow: 0px opx 8px 6px rgb(13, 13, 13);
  
}
#about{
    height: 110vh;
    width:100%;
    border: 2px solid black;
    background-color: rgb(29, 34, 49);
    opacity: 6;
}
@media screen and (max-width: 400px) {
    #about{
     height: 40vh;  
    }
  }
  .aboutus{
    font-size: 3rem;
    font-family: copperplate;
    margin-top: 50px;
    text-align: center;
    color: rgb(212, 162, 0);
    /* padding-top: */
    text-decoration: solid;
    font-weight: 1000;
    
    margin-bottom: 0px;
  }

  @media screen and (max-width: 400px) {
    .aboutus{
    font-size: 1.5rem;  
    margin-top:10px;
    }
  }
  @media screen and (max-width: 400px) {
    .Branch{
    font-size: 1.5rem;  
    margin-top:10px;
    }
  }
.slider {
    position: relative;
    width: 95%;
    height: 60vh;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-left: 150px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 60vh;
    object-fit: cover;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Media Query for screens smaller than 400px */
@media screen and (max-width: 400px) {
  
    .slide {
        min-width: 100%;
        height: auto;
       
    }

    .slider {
        
            position: relative;
            width: 80%;
            height: 25vh;
            max-width: 1200px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 50px;
            margin-left: 20px;
        
        
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        
    }

    .navigation {
        flex-direction: row;
        
        top: 50%;
    height: 20%;
    width: 100%;
    margin-left: -130px;
    margin-top: 1%;
  

    }

    .prev, .next {
        position: relative;
        top: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
}
@media screen and (max-width:700px){
  .slide {
    min-width: 100%;
    height: auto;
   
}


.slider {
    
        position: relative;
        width: 80%;
        height: 25vh;
        max-width: 1200px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
        margin-left: 20px;
    
    
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.navigation {
    flex-direction: row;
    
    top: 50%;
height: 20%;
width: 100%;
margin-left: -130px;
margin-top: 1%;


}

.prev, .next {
    position: relative;
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

}
@media screen and (max-width:700px){
  #about {
  height: 60vh;
  }
}
#Branchh{
    height: 110vh;
    width:100%;
    border: 2px solid black;
    background-color: rgb(29, 34, 49);
    opacity: 6;
}
@media screen and (max-width: 400px) {
    #Branchh{
     height: 100vh;  
    }
    .containerr{
        height: 400px;
        width: 400px;
    }

  
  
.containerr{
    margin-top: 60px;
}

.proj-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }
  .map1{
    height: 200px;
    width: 150px;
    margin-top: 20px;
  }
  .map2{
    height: 200px;
    width: 150px;
    margin-top: 20px;
  }
}
  

@media screen and (max-width: 700px) {
  #Branchh{
   height: 100vh;  
  }
  .containerr{
      height: 400px;
      width: 400px;
  }



.containerr{
  margin-top: 60px;
}

.proj-1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
.map1{
  height: 200px;
  width: 150px;
  margin-top: 20px;
}
.map2{
  height: 200px;
  width: 150px;
  margin-top: 20px;
}
} 

  
  /* ////.....proj2.....//// */
  
  .proj-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-left:2%;
  }
  
  
  
  .proj-2 .proj2-details{
    width: 32rem;
  }
  
  .proj-2 .proj2-details h2{
    font-size: 3rem;
    color: #fdb500;
    font-family:  copperplate;
    
  }
  
  .proj-2 .proj2-details p{
    font-size: 2rem;
    color: #ff5500;
    font-weight: 600;
    font-family: copperplate;
  }


  
 
  .proj-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-left:2%;
  }
  
  
  
  .proj-1 .proj1-details{
    width: 32rem;
  }
  
  .proj-1 .proj1-details h2{
    font-size: 3rem;
    color: #fdb500;
    font-family: copperplate;
  }
  
  .proj-1 .proj1-details p{
    font-size: 2rem;
    color: #ff5500;
    font-weight: 600;
    font-family: copperplate;
  }
  .proj-1{
    margin-top: 53px;
    margin-left: 22px;
}
  
  .proj-2{
    margin-top: 120px;
    margin-left: 600px;
  }
  @media screen and (max-width:400px){
    .proj-1{
    width: 19rem;
    
    }
    .map1{
        height: 200px;
        width: 220px;
    }
    .proj-1 .proj1-details h2{
        font-size: 0.9rem;
        color: #fdb500;
      }
      .proj-1 .proj1-details p{
        font-size: 0.9rem;
        color: #ff5500;
        font-weight: 600;
      }
    
  }
  @media screen and (max-width:400px){
    .proj-2{
    width: 18rem;
    margin-left: 35px;
    
    }
    .map2{
        height: 150px;
        width: 120px;
    }
    .proj-2 .proj2-details h2{
        font-size: 0.9rem;
        color: #fdb500;
      }
      .proj-2 .proj2-details p{
        font-size: 0.9rem;
        color: #ff5500;
        font-weight: 600;
      }
    
  }
  @media screen and (max-width:700px){
    .proj-1{
    width: 19rem;
    
    }
    .map1{
        height: 200px;
        width: 220px;
    }
    .proj-1 .proj1-details h2{
        font-size: 0.9rem;
        color: #fdb500;
      }
      .proj-1 .proj1-details p{
        font-size: 0.9rem;
        color: #ff5500;
        font-weight: 600;
      }
    
  }
  @media screen and (max-width:700px){
    .proj-2{
    width: 18rem;
    margin-left: 35px;
    
    }
    .map2{
        height: 150px;
        width: 120px;
    }
    .proj-2 .proj2-details h2{
        font-size: 0.9rem;
        color: #fdb500;
      }
      .proj-2 .proj2-details p{
        font-size: 0.9rem;
        color: #ff5500;
        font-weight: 600;
      }
    
  }
  
  
  
  

  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  ++++++++++++++++++++++++++++++++++++++++
  +++++++++++++++++++++++++++++++++++++  BRANCH*/

  #services{
    margin-top: -50px;
    height: 110vh;
    width:100%;
    /* border: 2px solid black; */
    background-color: rgb(28, 34, 50);
    opacity: 6;
}


#imageservices{
    height: 600px;
    width:100%;
    display:flex;
    padding: 20px;
    display: flex;
    
    
}
.landscape2{
    height: 250px;
    width: 300px;
    margin-right: 20px;
}
.landscape{
    height: 120%;
    width: 119%;
    margin-right: 20px;
}




@media screen and (max-width:400px){
    .landscape{
height: 200px;
width: 350px;
margin-left: -20px;
margin-top: -20px;
              }
              #services{
                height: 40vh;
                width:100%;
                /* border: 2px solid black; */
                background-color: rgb(28, 34, 50);
                opacity: 6;
            }
            }
            @media screen and (max-width:700px){
              .landscape{
                height: 185px;
                width: 479px;
                margin-left: -8px;
                margin-top: -20px;
                        }
                        #services{
                          height: 40vh;
                          width:100%;
                          /* border: 2px solid black; */
                          background-color: rgb(28, 34, 50);
                          opacity: 6;
                      }
                      }
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#contact{
    margin-top: 20px;
    height: 110vh;
    width:100%;
    /* border: 2px solid black; */
    background-color: rgb(28, 34, 50);
    margin-top: -50px;
}
.watsappp{
    font-size: 50px;
}
.landscape21{
    height: 400px;
    width: 700px;
    margin-top: 90px;
    margin-left: -1500px;
}
@media screen and (max-width:400px){
    .landscape21{
        height: 69px;
        width: 133px;
        margin-top: 26px;
        margin-left: -327px;
}
}
.watsapptext{
    color: aliceblue;
    margin-left: -1400px;
    margin-top:550px;
    font-size: 2rem;
    
}
@media screen and (max-width:400px){
    .watsapptext{
        color: aliceblue;
        margin-left: -304px;
        margin-top: 105px;
        font-size: 0.3rem;
    }
}
@media screen and (max-width:400px){
    #contact{
        height: 35vh;
    }
}
@media screen and (max-width:700px){
  #contact{
      height: 40vh;
  }
  .landscape21{
    height: 73px;
    width: 154px;
    margin-top: 26px;
    margin-left: -384px;
}
.watsapptext{
  color: aliceblue;
  margin-left: -377px;
  margin-top: 106px;
  font-size: 0.6rem;
}
}



